#quote-output {
    position: absolute;
    max-width: 25rem;
    background-color: #1b1c1f;
    color: white;
    border-radius: 1.5rem;
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    line-height: 1.6;
}

#quote-output.far {
    top: 12.5rem;
    left: 87.5rem;
}

#quote-output.close {
    top: 12.5rem;
    left: 62.5rem;
}
