#quote-output {
	max-width: 25rem;
	background-color: #1b1c1f;
	color: white;
	border-radius: 1.5rem;
	padding: 0.8rem 1.6rem;
	font-size: 1rem;
	line-height: 1.6;
	margin-bottom: 1rem;
	position: relative;
}

#quote-output.no-complementary-result-high {
	position: absolute;
	top: 12.5rem;
	left: 62.5rem;
}

#quote-output.no-complementary-result-low {
	position: absolute;
	top: 35rem;
	left: 62.5rem;
}

#quote-output .favorite-button {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: none;
	border: none;
	width: 2rem;
	height: 2rem;
	transition: background-color 0.2s;
	cursor: pointer;
	border-radius: 4px;
}

#quote-output .favorite-button:hover {
	background-color: darkgray;
}

#quote-output .btn {
	display: block;
	border: none;
	background: none;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	background-color: #22232a;
	padding: 0.8rem 1rem;
	border-radius: 5px;
}
